# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

### STS ###
.apt_generated
.factorypath
.settings
.sts4-cache

### IntelliJ IDEA ###
*.idea
*.iws
.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/.svn
/.git
bin/
*.class
*.ldb
*.log
target/

### eclipse ###
.project
.classpath
.gitignore